<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block kcs_watchdog_style %}
            {% endblock %}
            {% block kcs_watchdog_content %}
            {% endblock kcs_watchdog_content %}
            {% block kcs_watchdog_js %}
            {% endblock %}
        </div>
    </body>
</html>

